.top-container {
    background-color: #dff3e3;
    height: 200px;
    width: 200px;
    border: solid 10px;
    padding: 20px;
}

.middle-container {
    background-color: red;
    height: 200px;
    width: 200px;
    border: solid 20px;
    margin-left: 260px;
}

.bottom-container {
    background-color: yellow;
    height: 200px;
    width: 200px;
    border: solid 10px;
    margin-left: 500px;
}

body {
    margin: 0px;
}

h1 {
    margin-top: 0px;
}